{% extends 'base.html' %}

{% load humanize %}

{% block content %}
<div class="container py-5">
    <div class="text-end">
        <a class="btn btn-primary px-5 rounded-pill"
            href="{% url 'item-create' %}">Add</a><br>
    </div>
    <h1>Items (${{total_value|intcomma}})</h1>
    <hr>

    <div class="row">
        {% include 'items/item_list_partial.html' %}
        <div class="col-lg-2">
            <form hx-get="{% url 'item-list' %}"
                hx-trigger="change"
                hx-target="#item-list"
                hx-swap="outerHTML">
                {{form}}
                <br>
                <button class="btn btn-outline-dark px-5 rounded-pill"
                    type="submit">Filter</button>
            </form>
        </div>
    </div>

</div>

{{servers}}
{{computer_systems}}

{% endblock content %}

